/* Custom styles */
.navbar {
  background-image: url(./assets/bg1-min.png);
  z-index: 9999999;
  height: 20vh;
}

.navbar-brand,
.navbar-nav .nav-link {
  color: white;
}

.navbar-toggler-icon {
  /* background-color: #d53434; */
  border: none;
}
.editnav {
  color: white;
}
.navbar-nav li a {
  font-size: 20px;
}
.menu-icon {
  color: #d53434;
}

.custom-btn {
  border: none !important ;
  border-radius: 90px;
  background-color: #d53434;
  color: white;
  font-size: 27px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
@media screen and (max-width: 767px) {
  .nav-bar-logo {
    width: 90px;
    height: 48px;
  }
}
.mainsectiondiv1 {
  background-image: url(./assets/bg1-min.png);
  background-position: center;
  /* height: 100vh; */
  /* Add other styles for your main section */
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.mainwarpper {
  display: flex;
  flex-direction: row;
  position: relative;
  /* justify-content: space-between; */
}
.main-right {
  flex: 1;
  /* z-index: 9999; */
}
.main-middle {
  position: absolute;
  z-index: 999;
  left: 29%;
  top: 10%;
}
.mian-middle-image-logo {
  height: 100%;
  width: 100%;
}
.main-left {
  flex: 1;
  /* z-index: 9999; */
}

.whiteinput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 90px;
  padding: 10px 1rem 10px 1rem;
  margin: 3rem 5rem 0px 5rem;
}
.custom-btn-black img {
  height: 30px;
  width: 30px;
}
.custom-btn-black {
  border: none !important ;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: white;
  font-size: 27px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.two-button {
  margin-top: 2rem;
  margin-left: 6rem;
}

.custom-btn-red {
  border: none !important ;
  border-radius: 90px;
  background-color: #d53434;
  color: white;
  font-size: 27px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.mobilescreen-bhai {
  display: none;
}
@media screen and (max-width: 767px) {
  .mobilescreen-bhai {
    display: flex;
  }
  .mainsectiondiv1 {
    background-image: url(./assets/bg1-min.png);
    background-position: center;
    /* height: 100vh; */
    /* Add other styles for your main section */
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-middle {
    position: relative;
    z-index: 999;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mian-middle-image-logo {
    height: 30%;
    width: 80%;
  }

  .whiteinput {
    background-color: #fff;
    width: 274px;
    height: 42px;
    border-radius: 29px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
  }

  .custom-btn-black img {
    height: 30px;
    width: 30px;
  }

  .custom-btn-black {
    border: none !important;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    width: 250px;
  }
  .custom-btn-red {
    border: none !important;
    border-radius: 100px;
    background-color: #d53434;
    color: white;
    font-size: 20px;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 250px;
  }

  .two-button {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    margin-left: 0px;
  }

  .mainwarpper {
    display: none;
  }
}
/* <!-- Section Two Start  --> */

.sectiontwomian {
  background-image: url(./assets/bg2-min.png);
  background-position: center;
  background-size: cover;
}
.sectiontwowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.sectiontwotext h1 {
  text-align: center;
  color: white;
  font-size: 80px;
}
.sectiontwo_div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}

.sectiontwo_div h4 {
  width: 35%;
  font-size: 29px;
  color: white;
  line-height: 150%;
}

@media screen and (max-width: 767px) {
  .sectiontwomian {
    background-image: url(./assets/bg2-min.png);
    background-position: center;
    background-size: cover;
  }
  .sectiontwowrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }
  .sectiontwotext h1 {
    text-align: center;
    color: white;
    font-size: 50px;
  }
  .sectiontwo_div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
  }
  .sectiontwo_div img {
    margin-bottom: 3rem;
  }

  .sectiontwo_div h4 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: white;
    line-height: 150%;
  }
}
/* <!-- Section Two End  --> */

/* <!-- Section Three Start  --> */
.sectionthreemain {
  background-color: #2f559d;
  /* background-image: url(./assets//bg2-min.png); */
  background-position: center;
  background-size: cover;
  padding-top: 2rem;
}
.sectionthree_wapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 2rem;
}

.heading h1 {
  text-align: center;
  font-size: 83px;
  color: white;
}
.sectionthreeparttwo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  margin-top: 10rem;
}
.leftside {
  width: 40%;
}
.leftside h1 {
  /* margin-bottom: 1rem; */
}
.minprices {
  font-weight: 400 !important;
  font-family: Fidel;
  font-size: 36px;
  letter-spacing: 0;
  color: #7bd1ff;
}
.rightside {
  width: 40%;
}
.rightside h1 {
  color: white;
  margin-left: 2rem;
}
.rightside ul li {
  color: #7bd1ff;
  font-size: 37px;
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-itmespan {
  font-size: 37px;
  color: white;
  text-align: right;
}

.white_color_text {
  color: white;
  font-size: 36px;
}
@media screen and (max-width: 767px) {
  .sectionthreeparttwo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-top: 10rem;
  }
  .leftside,
  .rightside {
    width: 80%;
  }
.leftside{
    margin-left: 2rem;
}
  .heading h1 {
    text-align: center;
    font-size: 53px;
    color: white;
  }
}

/* <!-- Section Three End  --> */
